extends layout 

block content 

        if (user && user.admin)
                div.admin-header
                    div.header-title-username
                        h1(id="header-title") Welcome to the Message Board,  
                        h1(id="username-header") #{user.username}
                    div.header-right-side
                        div(class="user-buttons-container")
                            a(href='/routers/message/   create_message')
                                button(type='button' class="user-button" id="user-button-left") Create Message

                            form(method="POST")
                                input#messageId(type='hidden' name=messageId required='true' value=message._id)    
                                button(type='submit' class="user-button" value=message._id)  Delete

        else if (user && member)
            div.member-header
                div.header-title-username
                    h1(id="header-title") Welcome to the Message Board, 
                    h1(id="username-header") #{user.username}
                div.header-right-side
                    div(class="user-buttons-container")
                        a(href='/routers/message/create_message')
                            button(type='button' class="user-button" id="user-button-left") Create Message

                        a(href='/users/admin_join_form')
                            button(type='button' class="user-button" id="user-button-left") Admin Code 

                        a(href='/users/logout')
                                button(type='button' class="user-button" id="user-button-right") Logout
                    p.code-instructions Enter Admin Code to Delete Messages
        else if (user)
            div.user-header
                div.header-title-username
                        h1(id="header-title") Welcome to the Message Board, 
                        h1(id="username-header") #{user.username}!
                div.header-right-side
                    div(class="user-buttons-container")
                        a(href='/users/member_join_form')
                            button(type='button' class="user-button" id="user-button-left") Member Code
                        a(href='/users/logout')
                            button(type='button' class="user-button" id="user-button-right") Logout
                    p.code-instructions Enter Member Code to Post Messages

        else 
            div(class='no-user')
                h1(id="header-title") Welcome to the Message Board!
                div(class="user-buttons-container")
                    a(href='/routers/message/sign-up') 
                        button(type='button' class="user-button" id="user-button-left") Sign-Up

                    a(href='/users/login')
                        button(type='button' class="user-button" id="user-button-right") Login 
        each message in all_messages
            div.message-card 
                div.card-header
                    p #{message.title}
                    if member || admin
                        p #{message.user.username}
                div(class="card-body")
                    p #{message.timestamp_formatted}
                    div#message-text-delete
                        p.message-text #{message.message_text}
                        if admin 
                            a(href='/users/logout')
                                    button(type='button' class="user-button" id="user-button-right") Delete
