extends layout 

block content 

        if user
            if admin 

                h1 Welcome to the Message Board #{user.username}!

                a(href='/routers/message/create_message')
                    button(type='button') Create Message

                a(href='/users/logout')
                    button(type='button') Logout

            else if member

                h1 Welcome to the Message Board #{user.username}!

                a(href='/routers/message/create_message')
                    button(type='button') Create Message

                a(href='/users/admin_join_form')
                    button(type='button') Enter Admin Code for Admin Privleges

                a(href='/users/logout')
                    button(type='button') Logout
                    
            else 

                h1 Welcome to the Message Board #{user.username}!
                a(href='/users/member_join_form')
                    button(type='button') Enter Code to Post Messages
                a(href='/users/logout')
                    button(type='button') Logout

        else 
            div(class='no-user')
                h1(id="header-title") Welcome to the Message Board!
                div(class="no-user-buttons-container")
                    a(href='/routers/message/sign-up') 
                        button(type='button' class="no-user-button" id="no-user-button-left") Sign-Up

                    a(href='/users/login')
                        button(type='button' class="no-user-button" id="no-user-button-right") Login 
            each message in all_messages
                div.message-card 
                    div.card-header
                        p #{message.title}
                        if member || admin
                            p #{message.user.username}
                    div(class="card-body")
                        p #{message.timestamp_formatted}
                        p.message-text #{message.message_text}
